# Dependencies
node_modules

# TypeScript
tsconfig.tsbuildinfo

# Next.js
.next
next-env.d.ts
out

# Environment
.env
.env.*
!.env.example

# IDE
.vscode
.idea
*.swp
*.swo
.DS_Store

# Debug
npm-debug.log*

# Vercel
.vercel

# Submission
*.zip